.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #000 linear-gradient(45deg, #625, transparent);
  color: white;
  font-size: 30px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  padding: 20px 40px;
  border: 1px solid white;
  background-color: transparent;
  color: white;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.8);
}