.welcome {
  text-align: center;
  font-size: 20pt;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 100px;
}

.image {
  width: 300px;
  height: auto;
}

.imageMap {
  cursor: pointer;
}

.introScreen {
  width: 100vw;
  height: 100vh;
  background-color: black;
  display: flex;
  align-items: center;
}

.introText {
  color: white;
  padding: 10%;
}

.introButton {
  white-space: nowrap;
  background: none;
  border: none;
  color: white;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 1%;
  font-size: 24px;
}

.roomEnd {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  font-size: 30px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}