.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #000;
  height: 100vh;
}

.wrapper * {
  outline: none;
}

.clueNumber {
  background-color: #fff;
  color: #000;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 10px auto;

}

.label {
  color: #fff;
  font-size: 15pt;
  width: 900px;
  height: 100px;
  margin: auto;
}

.introScreen {
  width: 100vw;
  height: 100vh;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.introText {
  color: white;
  padding: 10%;
}

.finishPage {
    justify-content: start;
    flex-direction: column;
}

.finishPage img {
    max-height: 50%;
}

.finishPage .introText {
    padding: 1em;
    font-size: 1.5em;
}


.introButton {
  white-space: nowrap;
  background: none;
  border: none;
  color: white;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 1%;
  font-size: 24px;
  cursor: pointer;
  width: 100px;
}

.introButton:focus {
  outline: none;
  box-shadow: none;
}

.imageMap {
  cursor: pointer;
}

.roomEnd {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  font-size: 30px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px;
}

.room2Image, .room5Image {
  background-color: white;
  padding: 10px;
}

.room4Image {
  width: 40%;
}

.confettiContainer {
  width: 100%;
  height: 100%;
  position: absolute;
}

.confetti {
  width: 15px;
  height: 15px;
  background-color: #f2d74e;
  position: absolute;
  left: 50%;
  animation: confetti 5s ease-in-out -2s infinite;
  transform-origin: left top;
}
.confetti:nth-child(1) {
  background-color: #f2d74e; left: 10%; animation-delay: 0;
}
.confetti:nth-child(2) {
  background-color: #95c3de; left: 20%; animation-delay: -5s;
}
.confetti:nth-child(3) {
  background-color: #ff9a91; left: 30%; animation-delay: -3s;
}
.confetti:nth-child(4) {
  background-color: #f2d74e; left: 40%; animation-delay: -2.5s;
}
.confetti:nth-child(5) {
  background-color: #95c3de; left: 50%; animation-delay: -4s;
}
.confetti:nth-child(6) {
  background-color: #ff9a91; left: 60%; animation-delay: -6s;
}
.confetti:nth-child(7) {
  background-color: #f2d74e; left: 70%; animation-delay: -1.5s;
}
.confetti:nth-child(8) {
  background-color: #95c3de; left: 80%; animation-delay: -3s;
}
.confetti:nth-child(9) {
  background-color: #ff9a91; left: 90%; animation-delay: -3.5s;
}
.confetti:nth-child(10) {
  background-color: #f2d74e; left: 100%; animation-delay: -3.5s;
}
.confetti:nth-child(11) {
  background-color: #95c3de; left: 15%; animation-delay: 0;
}
.confetti:nth-child(12) {
  background-color: #f2d74e; left: 25%; animation-delay: -5s;
}
.confetti:nth-child(13) {
  background-color: #95c3de; left: 35%; animation-delay: -3s;
}
.confetti:nth-child(14) {
  background-color: #f2d74e; left: 45%; animation-delay: -1.5s;
}
.confetti:nth-child(15) {
  background-color: #ff9a91; left: 55%; animation-delay: -4s;
}
.confetti:nth-child(16) {
  background-color: #95c3de; left: 65%; animation-delay: -4s;
}
.confetti:nth-child(17) {
  background-color: #f2d74e; left: 75%; animation-delay: -1.5s;
}
.confetti:nth-child(18) {
  background-color: #ff9a91; left: 85%; animation-delay: -1s;
}
.confetti:nth-child(19) {
  background-color: #f2d74e; left: 95%; animation-delay: -3.5s;
}
.confetti:nth-child(20) {
  background-color: #ff9a91;; left: 5%; animation-delay: -1.5s;
}

@keyframes confetti {
  0% { transform: rotateZ(15deg) rotateY(0deg) translate(0,0); }
  25% { transform: rotateZ(5deg) rotateY(360deg) translate(-5vw,20vh); }
  50% { transform: rotateZ(15deg) rotateY(720deg) translate(5vw,60vh); }
  75% { transform: rotateZ(5deg) rotateY(1080deg) translate(-10vw,80vh); }
  100% { transform: rotateZ(15deg) rotateY(1440deg) translate(10vw,110vh); }
}

.transitionWrapper {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  background-color: #000;
}

.transitionWrapper video {
  width: 100%;
  height: 100%;
}
