.image {
  width: 200px;
  height: auto;
  margin-top: 50px;
}

.welcome {
  width: 100vw;
  height: 100vh;
  background-color: black;
  text-align: center;
  color: white;
  font-size: 20pt;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 100px;
}

.introButton {
  white-space: nowrap;
  background: none;
  border: none;
  color: white;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 1%;
  font-size: 24px;
  cursor: pointer;
  width: 100px;
}

.introButton:focus {
  outline: none;
  box-shadow: none;
}
